$green: #588b3e;
$orange: #d95620;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em; 
    margin: 2em 1em;
    background-color: #fff;
    color: #333;
    background: no-repeat url("flower.jpg");
    background-origin: border-box;
    background-position-x: right;
    background-position-y: top;
    background-size: 20vw;
}

a, dt {
    color: $green;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

li {
    list-style-position: outside;
}

h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 3em;
    font-variant: small-caps;
}

h2 {
    font-size: 2em;
    border-bottom: 1px solid $orange;
}

section {
    max-width: 72em;

    p {
        text-align: justify;
    }
}