@import "./common.css";

.contact-list {
    display: grid;
    grid-template-columns: 1em 0.5fr 1fr;
    grid-gap: 0.5em;
    max-width: 13em;
}

.contact-list i {
    color: var(--blue);
    grid-column: 1;
}
.contact-list a {
    grid-column: 2;
}

.contact-list span {
    font-style: italic;
    grid-column: 3;
}

/* body {
    background-image: url("bg.svg");
    background-repeat: repeat;
    background-position-y: top;
    background-position-x: left;
    background-size: 256px;
} */