@import "../common.scss";

#header .details {
    display: none;
}

.hdlist1 {
    color: $green;
    font-weight: bold;
    text-decoration: none;
}

dd {
    margin-left: 1em;
}

ul,
ol {
    padding-left: 2em;
}
