a {
    color: #00B7FF;
}


ul.ingredients-tree {
    max-height: 340px;
    overflow-y: auto;
    border: 1px solid #808080;
    position: absolute;
    z-index: 1060;
    background-color: white;
}

ul.ingredients-tree li.chevron-up {
    list-style-image: url('../img/chevron-up.png');
}

ul.ingredients-tree li.chevron-down {
    list-style-image: url('../img/chevron-down.png');
}

ul.ingredients-tree li.chevron-up li {
    list-style-image: initial;
}