body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


ul.ingredients-tree li.chevron-up {
    list-style-image: url('../img/chevron-up.png');
}

ul.ingredients-tree li.chevron-down {
    list-style-image: url('../img/chevron-down.png');
}

ul.ingredients-tree li.chevron-up li {
    list-style-image: initial;
}